table.report {
  display: block;
  border-collapse: collapse;
  font-family: system-ui, Courier, monospace;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  width:fit-content;
}

table.report thead th {
  border-bottom: 2px dashed #999;
  text-align: left;
  padding: 8px 4px;
  font-size: 16px;
  text-transform: uppercase;
}

table.report tbody tr {
  border-bottom: 1px dashed #999;

}

table.report tbody td {
  padding: 8px 4px;
  text-align: left;
}

table.report tbody td.right {
  text-align: right;
}

table.report tbody td.bold {
  font-weight: bold;
}

table.report tfoot td {
  padding-top: 10px;
  font-weight: bold;
  border-top: 2px dashed #999;
}

table.report tfoot td.right {
  text-align: right;
}